# Dependencies
node_modules/
/.pnp
.pnp.js

# Environment variables
.env
.env.*
env
env.*
*.env
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS / Editor files
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
